version: "3"
services:
  db:
    image: mysql:5.7
    volumes:
      - "./mysql:/var/lib/mysql"
    ports:
      - "3306:3306"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=WDugV3Mpfj8uREPzjGcB
      - MYSQL_DATABASE=django_app

  app:
    restart: always
    build: .  # '点'代表当前目录
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "8001:80"
    environment:
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "WDugV3Mpfj8uREPzjGcB"
      MYSQL_ROOT_PASSWORD: "WDugV3Mpfj8uREPzjGcB"
      PMA_HOST: db
    depends_on:
      - db
